// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// FONT VARIABLES
$serif: 'Playfair Display', serif;
$sans-serif: 'Montserrat', sans-serif;
// COLOR VARIABLES 
$blue-dark: rgb(44, 91, 104);
$blue-bright: rgb(22, 123, 150);
$green-primary: rgb(107, 116, 90);
$green-dark: rgb(73, 73, 51);
$green-light: rgb(166, 171, 153);
$light-primary: rgb(223, 201, 200);
$light-light: rgb(231, 209, 208);
$light-lightest: rgb(248, 241, 240);
$light-dark: rgb(179, 141, 130);
$orange-primary: rgb(184, 119, 95);
$orange-dark: rgb(152, 91, 62);

body, nav {
  background-color: $light-dark;
  color: $green-primary;
  font-family: $sans-serif;
}

span {
  text-decoration: none;
}

h1 {
  font-family: $serif;
  color: $green-primary;
  font-weight: 600;
  font-size: 2rem;
}

nav {
  
border-bottom: .5px solid $orange-primary;
.navbar {
  padding-bottom: $navbar-padding-y;
}
.nav-link {
  color: $green-primary;
  font-family: $sans-serif;
  margin-left: 2rem;
}
.nav-link:hover, h1:hover, .nav-link:focus, h1:focus {
  color: $green-primary;
  text-shadow: 1px .5px $orange-dark;
}
.nav-active {
  text-decoration: underline;
}
}

.main-section {
  margin: 4rem 5rem 4rem 5rem;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.landing-page {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  h1 {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px $orange-primary;
    font-weight: 700;
  }
  .stack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  h2 {
    font-family: $sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    text-shadow: 1px 1px $light-light;
  }
}

.about-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  img {
    flex-grow: 1;
    width: 33%;
    height: auto;
    margin-left: 2rem;
  }
  p {
    flex-grow: 2;
  }
}

.resume-link {
    color: $green-primary
}

.resume-link:hover {
    color: $green-dark;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #contact-form {
  border: 1px solid $green-primary;
  border-radius: 3px;
  padding: 1rem 1rem 1rem 1rem;
  width: 33%;
  justify-content: space-apart;;

  input, textarea, button {
    width: 100%;
    border-radius: 3px;
    border: 1px solid $green-primary;
    margin-bottom: 1rem;
  }
  button:hover {
    background-color: $green-primary;
    color: $light-primary;
  }
  button {
    color: $green-primary;
  }
  }
}

.carousel-container {
  margin-left: 7rem;
  margin-right: 7rem;
}
.deployment-container {
h4, a {
  text-align: center;
  text-decoration: none;
  color: $green-primary;
  margin-top: 1.5rem;
}
a {
  border: 1px solid $green-primary;
  border-radius: 3px;
  padding: .5rem;
}
a:hover {
  background-color: $green-primary;
  color: $light-dark;
}
}
